<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Portrait</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href=>
 
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
    <link href="navbar-static-top.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
  <!--Staring Navbar Here -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--this allows for navigation w/small screens -->
          <a class="navbar-brand">Portrait</a>
        </div>

        <!-- end header here -->
        <div class="collapse navbar-collapse" id="navbar">
          <ul class ="nav navbar-nav navbar-right"> <!-- unordered list -->
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
          </ul>
           
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->

    
    <div class="container">
    	
    	<div class="row">
    		<div class="col-md-8">
    			<h2>Welcome!</h2>
		        <p>Portrait is my final project of COMP405, a class I'm taking at Linfield College in the Spring of 2016. It's built with Ruby on Rails, and uses Bootstrap for the formatting of the webpages. If you would like to learn more, please click below for a page of resources used to create this website.</p>
		        <p><a class="btn btn-success btn-lg" href="#" role="button">Learn More! &raquo;</a></p>
		    </div>
		    <div class ="col-md-4">
		    	<h3>Login Placeholder</h3>
		    </div>
		</div>
    </div>

    

     <hr>

      <footer>
        <p>&copy; 2016 Conner Wells, All Rights Reserved</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write<script src="../../assets/js/vendor/jquery.min.js"></script></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>